.app {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "h    h     h    h     h"
    "tree t-div flow a-div atom"
    "f    f     f    f     f";
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app > header {
  grid-area: h;
}

.app > footer {
  grid-area: f;
}
