.tree {
  height: 100%;
}

/* row */
.tree [role="treeitem"] {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* row hover */
.tree [role="treeitem"]:hover {
  background-color: #eee;

  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
}

.tree [role="treeitem"] [data-focused="true"] {
  background-color: #eee;

  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
}

/* row selected */
.tree [aria-selected="true"] {
  background-color: #ccc;

  @media (prefers-color-scheme: dark) {
    background-color: #555;
  }
}

.row {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  line-height: 20px;
  white-space: nowrap;
}

.rowHandle {
  display: flex;
  flex: 1 1 auto;
}

.rowActions {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse;
  padding-right: 10px;
}
